@page "/Schemas/{schema:alpha}/Categories/{category:alpha}/Exercises"
@model ExercisesModel
@{
    ViewData["Title"] = $"Exercises for {Model.Category}";
}
<h2>Exercises for @Model.Category</h2>
@if (Model.IsAdmin)
{
    <a asp-page="Create" asp-route-category="@Model.Category" class="btn btn-success mb-3">Create New Exercise</a>
}
<ul class="list-group">
    @foreach (var ex in @Model.Exercises)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <a asp-page="./Exercise" asp-route-schema="@Model.Schema"
                    asp-route-category="@Model.Category" asp-route-id="@ex.Id">
                    @ex.Title
                </a>

            </span>
            @if (Model.IsAdmin)
            {
                <span>
                    <a asp-page="/Categories/Exercises/Edit" asp-route-category="@Model.Category" asp-route-id="@ex.Id"
                        asp-route-schema="@Model.Schema" class="btn btn-sm btn-primary me-1">Edit</a>
                    <a asp-page="/Categories/Exercises/Delete" asp-route-category="@Model.Category" asp-route-id="@ex.Id"
                        class="btn btn-sm btn-danger">Delete</a>
                </span>
            }

        </li>
    }
</ul>